@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["professor"]</p>
<address>
    <strong> More information:</strong> <a href="http://educandoweb.com.br">Educando.com</a>
</address>